<%= form_with(model: orden) do |form| %>
  <% if orden.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
        <% orden.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :fecha_examen, style: "display: block" %>
    <%= form.datetime_field :fecha_examen, class:"form-control", value: @orden_fecha_actual %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :paciente_id, style: "display: block" %>
    <%= form.collection_select :paciente_id, Paciente.all,:id, :nombre_paciente, {prompt: "Seleccione un paciente"}, {:id => 'simple-example'} %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :laboratory_worker_id, style: "display: block" %>
    <%= form.collection_select :laboratory_worker_id, @laboratoristas,:laboratory_worker_id, :nombre_empleado, {prompt: "Seleccione un laboratorista"}, {:id => 'simple-example2'} %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", ordens_path, :class => "btn btn-outline-danger"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2({ width: '30%'} );
            $('#simple-example2').select2({ width: '30%'} );
        });
    </script>
  <% end %>

<% end %>
