<%= form_with(model: orden) do |form| %>
  <% if orden.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
        <% orden.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :fecha_examen, style: "display: block" %>
    <%= form.datetime_field :fecha_examen, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :paciente_id, style: "display: block" %>
    <%= form.text_field :paciente_id, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :laboratory_worker_id, style: "display: block" %>
    <%= form.text_field :laboratory_worker_id, class:"form-control" %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", ordens_path, :class => "btn btn-outline-danger"%>
  </div>
<% end %>
