<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Ordenes de exámenes</h1>

  <%= link_to "Agregar orden de examen", new_orden_path, :class => "btn btn-outline-success" %>

  <div id="ordenes">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha de examen:</th>
          <th scope="col">Paciente:</th>
          <th scope="col">Laboratorista:</th>
          <th scope="col">Estado:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @ordens.each do |orden| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= orden.fecha_examen %></td>
            <td><%= orden.paciente.nombre_paciente %></td>
            <td><%= orden.laboratory_worker.empleado.nombre_empleado %></td>
            <%if orden.estado == 1 %>
              <td>Pendiente</td>
            <%else%>
              <td>Finalizado</td>
            <%end%>
            <td>
                <%= link_to "Ver", orden, :class => "btn btn-outline-primary" %>
                <%= link_to "Realizar", seleccionado_orden_path(orden), :class => "btn btn-outline-primary" %>
                <% if @id_rol[0] != 2%>
                <%= link_to "Finalizar", finalizado_orden_path(orden), :class => "btn btn-outline-primary" %>
                <%end%>
                
            </td>
            <div hidden="true"><%= @number = @number + 1 %></div>
          </tr>
          <%#= render country %>
          <!--              <p><%#= link_to "Ver", orden, :class=>"btn btn-outline-primary" %></p>-->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to "Agregar Pais", new_country_path %>


<% end %>
<%= render template: "layouts/base" %>

