<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @orden %>

<div class="btn-group">
    <%= link_to "Editar orden", edit_orden_path(@orden), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", ordens_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @orden, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>

