<%= form_with(model: value_reference) do |form| %>
  <% if value_reference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(value_reference.errors.count, "error") %> prohibited this value_reference from being saved:</h2>

      <ul>
        <% value_reference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :"Valor de referencia", style: "display: block" %>
    <%= form.text_field :value_reference, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Parametro", style: "display: block" %>
    <%= form.collection_select :parametro_id, Parametro.all,:id, :nombre_parametro, {}, {:id => 'simple-example'} %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", value_references_path, :class => "btn btn-outline-danger"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2();
        });
    </script>
  <% end %>

<% end %>
