<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @value_reference %>

<div class="btn-group">
    <%= link_to "Editar valor de referencia", edit_value_reference_path(@value_reference), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", value_references_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @value_reference, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>

