<%= form_with(model: unidad_medida) do |form| %>
  <% if unidad_medida.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(unidad_medida.errors.count, "error") %> prohibited this unidad_medida from being saved:</h2>

      <ul>
        <% unidad_medida.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :nombre_unidad_medida, style: "display: block" %>
    <%= form.text_field :nombre_unidad_medida, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :siglas, style: "display: block" %>
    <%= form.text_field :siglas, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :sistema_medida, style: "display: block" %>
    <%= form.text_field :sistema_medida, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Descripción unidad de medida", style: "display: block" %>
    <%= form.text_field :descripcion_unidad_medida, class:"form-control"  %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", unidad_medidas_path, :class => "btn btn-outline-danger"%>
  </div>
<% end %>

