<div id="<%= dom_id unidad_medida %>">
  <p>
    <strong>Nombre unidad medida:</strong>
    <%= unidad_medida.nombre_unidad_medida %>
  </p>

  <p>
    <strong>Siglas:</strong>
    <%= unidad_medida.siglas %>
  </p>

  <p>
    <strong>Sistema medida:</strong>
    <%= unidad_medida.sistema_medida %>
  </p>

  <p>
    <strong>Descripcion unidad medida:</strong>
    <%= unidad_medida.descripcion_unidad_medida %>
  </p>

</div>
