<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @unidad_medida %>

 <div class="btn-group">
  <% @permisos_crud.each do |submenu|%>
    <% if submenu == 2 %>
    <%= button_to "Eliminar", @unidad_medida, method: :delete, :class => "btn btn-outline-danger" %>
    <% elsif submenu == 1 %>
    <%= link_to "Editar unidad de medida", edit_unidad_medida_path(@unidad_medida), :class => "btn btn-outline-warning" %> &nbsp;
    <% end %>
    <% end %>
    <%= link_to "Regresar", unidad_medidas_path, :class => "btn btn-outline-dark" %> &nbsp;
  </div>  

<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
