<%= form_with(model: muestra) do |form| %>
  <% if muestra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(muestra.errors.count, "error") %> prohibited this muestra from being saved:</h2>

      <ul>
        <% muestra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :tipo_muestra, style: "display: block" %>
    <%= form.text_field :tipo_muestra, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :fecha_entrega_muestra, style: "display: block" %>
    <%= form.datetime_field :fecha_entrega_muestra, class:"form-control", value: @muestra_fecha_actual %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :empleado_id, style: "display: block" %>
    <%= form.collection_select :empleado_id, Empleado.all,:id, :nombre_empleado %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :orden_id, style: "display: block" %>
    <%= form.collection_select :orden_id, Orden.all,:id, :id %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success", name: "add_muestra"%>
    <%# <%= form.submit "Finalizar", class:"btn btn-outline-success", name: "finish_muestra" %>
    <%= link_to "Finalizar", home_path, :class => "btn btn-outline-success"%>
    <%= link_to "Cancelar", muestras_path, :class => "btn btn-outline-danger"%>
    <%# <%= form.submit "Cancelar", :class => "btn btn-outline-danger" , name: "delete_muestra"%>
  </div>
<% end %>
