<div id="<%= dom_id muestra %>">
  <p>
    <strong>Tipo muestra:</strong>
    <%= muestra.tipo_muestra %>
  </p>

  <p>
    <strong>Fecha entrega muestra:</strong>
    <%= muestra.fecha_entrega_muestra %>
  </p>

  <p>
    <strong>Empleado:</strong>
    <%= muestra.empleado_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= muestra.orden_id %>
  </p>

</div>
