<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Muestras</h1>

  <%= link_to "Agregar muestra", new_muestra_path, :class => "btn btn-outline-success" %>

  <div id="muestras">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Muestra:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>

        <% @muestras.each do |muestra| %>
          <tr>
            <th scope="row">1</th>
            <td><%= muestra.tipo_muestra %></td>
            <td><%= link_to "Ver", muestra, :class => "btn btn-outline-primary" %></td>
          </tr>
          <%#= render country %>
          <!--              <p><%#= link_to "Ver", muestra, :class=>"btn btn-outline-primary" %></p>-->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to "Agregar Pais", new_country_path %>


<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>

