<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @muestra %>

<div class="btn-group">
    <%= link_to "Editar muestra", edit_muestra_path(@muestra), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", muestras_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @muestra, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>