<%= form_with(model: municipio) do |form| %>
  <% if municipio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(municipio.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% municipio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :"Municipio:", style: "display: block"  %>
    <%= form.text_field :nombre_municipio, class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Departamento:", style: "display: block" %>
    <%= form.collection_select :departamento_id, Departamento.all,:id, :nombre_departamento,{prompt: "Seleccione un departamento"},{:id => 'simple-example'} %>
  </div>

  <br>

  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", municipios_path, :class => "btn btn-outline-danger"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2({ width: '30%' });
        });
    </script>
  <% end %>

<% end %>
