<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Municipios</h1>

  <%= link_to "Agregar Municipio", new_municipio_path, :class => "btn btn-outline-success" %>

  <div id="municipios">
    <div class="card-body">
    <table id="datatablesSimple" class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pais:</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <div hidden="true"><%= @number = 1 %></div>
      <% @municipios.each do |municipio| %>
        <tr>
          <th scope="row"><%= @number %></th>
          <td><%= municipio.nombre_municipio %></td>
          <td><%= link_to "Ver", municipio, :class => "btn btn-outline-primary" %></td>
          <div hidden="true"><%= @number = @number + 1 %></div>
        </tr>
        <%#= render country %>
        <!--              <p><%#= link_to "Ver", municipio, :class=>"btn btn-outline-primary" %></p>-->
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%#= link_to "Agregar Municipio", new_municipio_path %>

<% end %>
<%= render template: "layouts/base" %>