<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <%= render @municipio %>

  <div class="btn-group">
    <%= link_to "Editar municipio", edit_municipio_path(@municipio), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", municipios_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @municipios, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>
