<p style="color: green"><%= notice %></p>

<%= render @orden_tipo_examan %>

<div>
  <%= link_to "Edit this orden tipo examen", edit_orden_tipo_examan_path(@orden_tipo_examan) %> |
  <%= link_to "Back to orden tipo examen", orden_tipo_examen_index_path %>

  <%= button_to "Destroy this orden tipo examen", @orden_tipo_examan, method: :delete %>
</div>
