<% content_for :content do %>

  <p style="color: green"><%= notice %></p>

  <h1>Menus</h1>

  <%= link_to "Agregar menú", new_menu_path, :class => "btn btn-outline-success" %>

  <div id="menus">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Menu:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <th scope="row">1</th>
            <td><%= menu.nombre %></td>
            <td><%= link_to "Ver", menu, :class => "btn btn-outline-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>


<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
