<%= form_with(model: permiso) do |form| %>
  <% if permiso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(permiso.errors.count, "error") %> prohibited this permiso from being saved:</h2>

      <ul>
        <% permiso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :nombre_permiso, style: "display: block" %>
    <%= form.text_field :nombre_permiso, class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :ruta, style: "display: block" %>
    <%= form.text_field :ruta, class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :crud, style: "display: block" %>
    <%= form.select :crud, [['Mostrar', '1'],['Detalle', '2'],['Crear', '3'],['Editar', '4'],['Eliminar', '5'] ],{prompt: "Seleccione una opción"},{:id => 'simple-example'} %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success" %>
    <%= link_to "Cancelar", permisos_path, :class => "btn btn-outline-danger" %>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2();

        });
    </script>
  <% end %>

<% end %>
