<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Permisos</h1>
  <%= link_to "Agregar permiso", new_permiso_path, :class => "btn btn-outline-success" %>
  <div id="permisos">
    <table id="menusDataTable" class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Permiso:</th>
        <th scope="col">Ruta:</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @permisos.each do |permiso| %>
        <tr>
          <th scope="row">1</th>
          <td><%= permiso.nombre_permiso %></td>
          <td><%= permiso.ruta %></td>
          <th><%= link_to "Ver", permiso, :class => "btn btn-outline-primary" %></th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>
<%= render template: "layouts/base" %>