<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Permisos</h1>
  
  <% if @permisos_crud%>
  <%= link_to "Agregar permiso", new_permiso_path, :class => "btn btn-outline-success" %>
  <% end %>
  <div id="permisos">
   <div class="card-body">
    <table id="datatablesSimple" class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Permiso:</th>
        <th scope="col">Ruta:</th>
        <th scope="col">Crud:</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <div hidden="true"><%= @number = 1 %></div>
      <% @permisos.each do |permiso| %>
        <tr>
          <th scope="row"><%= @number %></th>
          <td><%= permiso.nombre_permiso %></td>
          <td><%= permiso.ruta %></td>
          <td><%= permiso.crud %></td>
          <th><%= link_to "Ver", permiso, :class => "btn btn-outline-primary" %></th>
          <div hidden="true"><%= @number = @number + 1 %></div>
        </tr>
      <% end %>
      </tbody>
    </table>
   </div>
  </div>

<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>