<p style="color: green"><%= notice %></p>

<%= render @permiso %>

<div>
  <%= link_to "Edit this permiso", edit_permiso_path(@permiso) %> |
  <%= link_to "Back to permisos", permisos_path %>

  <%= button_to "Destroy this permiso", @permiso, method: :delete %>
</div>
