<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <%= render @permiso %>

  <div class="btn-group">
    <%= link_to "Editar", edit_permiso_path(@permiso), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", permisos_path, :class => "btn btn-outline-dark" %> &nbsp;

    <%= button_to "Eliminar", @permiso, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>