<p style="color: green"><%= notice %></p>

<%= render @area_tipo_examen %>

<div>
  <%= link_to "Edit this area tipo examen", edit_area_tipo_examen_path(@area_tipo_examen) %> |
  <%= link_to "Back to area tipo examen", area_tipo_examen_index_path %>

  <%= button_to "Destroy this area tipo examen", @area_tipo_examen, method: :delete %>
</div>
