<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :nombre_paciente, style: "display: block" %>
    <%= form.text_field :nombre_paciente, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :apellido_paciente, style: "display: block" %>
    <%= form.text_field :apellido_paciente, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :genero_paciente, style: "display: block" %>
    <%= form.select :genero_paciente, [['Femenino', 'F'],['Masculino', 'M']], {prompt: "Seleccione un genero"}, {:id => 'simple-example'}%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :fecha_nacimiento, style: "display: block" %>
    <%= form.date_field :fecha_nacimiento, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Dirección", style: "display: block" %>
    <%= form.text_field :direccion, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Teléfono", style: "display: block" %>
    <%= form.text_field :telefono, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Teléfono celular", style: "display: block" %>
    <%= form.text_field :telefono_celular, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Teléfono contacto", style: "display: block" %>
    <%= form.text_field :telefono_contacto, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Correo electrónico", style: "display: block" %>
    <%= form.text_field :correo_electronico, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :apellido_casado, style: "display: block" %>
    <%= form.text_field :apellido_casado, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :estado_civil, style: "display: block" %>
    <%= form.select :estado_civil, [['Soltero', 'S'],['Casado', 'C'],['Viudo', 'V'] ], {prompt: "Seleccione un estado civil"}, {:id => 'simple-example2'}%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :dui_paciente, style: "display: block" %>
    <%= form.text_field :dui_paciente, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :pasaporte, style: "display: block" %>
    <%= form.text_field :pasaporte, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :municipio_id, style: "display: block" %>
    <%= form.collection_select :municipio_id, Municipio.all,:id, :nombre_municipio,{prompt: "Seleccione un municipio"}, {:id => 'simple-example3'} %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :tipo_sangre_id, style: "display: block" %>
    <%= form.collection_select :tipo_sangre_id, TipoSangre.all,:id, :nombre_tipo_sangre,{prompt: "Seleccione un tipo de sangre"}, {:id => 'simple-example4'} %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", pacientes_path, :class => "btn btn-outline-danger"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2({ width: '25%' });
            $('#simple-example2').select2({ width: '30%' });
            $('#simple-example3').select2({ width: '30%' });
            $('#simple-example4').select2({ width: '30%' });
        });
    </script>
  <% end %>

<% end %>

