<div id="<%= dom_id paciente %>">
  <p>
    <strong>Nombre paciente:</strong>
    <%= paciente.nombre_paciente %>
  </p>

  <p>
    <strong>Apellido paciente:</strong>
    <%= paciente.apellido_paciente %>
  </p>

  <p>
    <strong>Genero paciente:</strong>
    <%= paciente.genero_paciente %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= paciente.fecha_nacimiento %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= paciente.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= paciente.telefono %>
  </p>

  <p>
    <strong>Telefono celular:</strong>
    <%= paciente.telefono_celular %>
  </p>

  <p>
    <strong>Telefono contacto:</strong>
    <%= paciente.telefono_contacto %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= paciente.correo_electronico %>
  </p>

  <p>
    <strong>Apellido casado:</strong>
    <%= paciente.apellido_casado %>
  </p>

  <p>
    <strong>Estado civil:</strong>
    <%= paciente.estado_civil %>
  </p>

  <p>
    <strong>Dui paciente:</strong>
    <%= paciente.dui_paciente %>
  </p>

  <p>
    <strong>Pasaporte:</strong>
    <%= paciente.pasaporte %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= paciente.municipio.nombre_municipio %>
  </p>

  <p>
    <strong>Tipo sangre:</strong>
    <%= paciente.tipo_sangre.nombre_tipo_sangre %>
  </p>

</div>
