<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Pacientes</h1>

  <%= link_to "Agregar paciente", new_paciente_path, :class => "btn btn-outline-success" %>

  <div id="pacientes">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Paciente:</th>
          <th scope="col">Telefono celular:</th>
          <th scope="col">Tipo de sangre:</th>
          <th scope="col">Municipio:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @pacientes.each do |paciente| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= paciente.nombre_paciente + " " + paciente.apellido_paciente %></td>
            <td><%= paciente.telefono_celular %></td>
            <td><%= paciente.tipo_sangre.nombre_tipo_sangre %></td>
            <td><%= paciente.municipio.nombre_municipio %></td>
            <td><%= link_to "Ver", paciente, :class => "btn btn-outline-primary" %></td>
            <div hidden="true"><%= @number = @number + 1 %></div>
          </tr>
          <%#= render country %>
          <!--              <p><%#= link_to "Ver", muestra, :class=>"btn btn-outline-primary" %></p>-->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to "Agregar Pais", new_country_path %>


<% end %>
<%= render template: "layouts/base" %>