<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @paciente %>

  <div class="btn-group">
  <% @permisos_crud.each do |submenu|%>
    <% if submenu == 2 %>
    <%= button_to "Eliminar", @paciente, method: :delete, :class => "btn btn-outline-danger" %>
    <% elsif submenu == 1 %>
    <%= link_to "Editar paciente", edit_paciente_path(@paciente), :class => "btn btn-outline-warning" %> &nbsp;
    <% end %>
    <% end %>
    <%= link_to "Regresar", pacientes_path, :class => "btn btn-outline-dark" %> &nbsp;
  </div>  

<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
