<p style="color: green"><%= notice %></p>

<%= render @tipo_examen %>

<div>
  <%= link_to "Edit this tipo examen", edit_tipo_examen_path(@tipo_examen) %> |
  <%= link_to "Back to tipo examen", tipo_examen_index_path %>

  <%= button_to "Destroy this tipo examen", @tipo_examen, method: :delete %>
</div>
