<p style="color: green"><%= notice %></p>

<%= render @tipo_examan %>

<div>
  <%= link_to "Edit this tipo examen", edit_tipo_examan_path(@tipo_examan) %> |
  <%= link_to "Back to tipo examen", tipo_examen_index_path %>

  <%= button_to "Destroy this tipo examen", @tipo_examan, method: :delete %>
</div>
