<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Departamentos</h1>

  <% if @permisos_crud%>
    <%= link_to "Agregar Departamento", new_departamento_path, :class => "btn btn-outline-success" %>	
  <% end %>
  

  <div id="departamentos">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Departamento:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @departamentos.each do |departamento| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= departamento.nombre_departamento %></td>
            <td><%= link_to "Ver", departamento, :class => "btn btn-outline-primary" %></td>
            <div hidden="true"><%= @number = @number + 1 %></div>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>


<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>