<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <%= render @departamento %>

  <div class="btn-group">
    <%= link_to "Editar departamento", edit_departamento_path(@departamento), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", departamentos_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @departamento, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>



