<%= form_with(model: parametro) do |form| %>
  <% if parametro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(parametro.errors.count, "error") %> prohibited this parametro from being saved:</h2>

      <ul>
        <% parametro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :nombre_parametro, style: "display: block" %>
    <%= form.text_field :nombre_parametro, class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :tipo_parametro, style: "display: block" %>
    <%= form.number_field :tipo_parametro, class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :unidad_medida_id, style: "display: block" %>
    <%= form.text_field :unidad_medida_id, class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :parametro_id, style: "display: block" %>
    <%= form.text_field :parametro_id, class:"form-control" %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", parametros_path, :class => "btn btn-outline-danger"%>
  </div>
<% end %>

