<div id="<%= dom_id parametro %>">
  <p>
    <strong>Nombre parametro:</strong>
    <%= parametro.nombre_parametro %>
  </p>

  <p>
    <strong>Tipo parametro:</strong>
    <%= parametro.tipo_parametro %>
  </p>

  <p>
    <strong>Unidad medida:</strong>
    <%if parametro.unidad_medida_id == nil %>
      <%= parametro.unidad_medida %>
    <%else%>
      <%= parametro.unidad_medida.nombre_unidad_medida %>
    <%end%>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%if parametro.parametro_id == nil %>
      <%= parametro.parametro_id %>
    <%else%>
      <%= parametro.parametro.nombre_parametro %>
    <%end%>
    
  </p>

</div>
