<div id="<%= dom_id parametro %>">
  <p>
    <strong>Nombre parametro:</strong>
    <%= parametro.nombre_parametro %>
  </p>

  <p>
    <strong>Tipo parametro:</strong>
    <%= parametro.tipo_parametro %>
  </p>

  <p>
    <strong>Unidad medida:</strong>
    <%= parametro.unidad_medida_id %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= parametro.parametro_id %>
  </p>

</div>
