<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Parametros</h1>

  <% if @permisos_crud%>
  <%= link_to "Agregar parametro", new_parametro_path, :class => "btn btn-outline-success" %>
  <% end %>

  <div id="parametros">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Parametro:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @parametros.each do |parametro| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= parametro.nombre_parametro %></td>
            <td><%= link_to "Ver", parametro, :class => "btn btn-outline-primary" %></td>
            <div hidden="true"><%= @number = @number + 1 %></div>
          </tr>
          <%#= render country %>
          <!--              <p><%#= link_to "Ver", muestra, :class=>"btn btn-outline-primary" %></p>-->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to "Agregar Pais", new_country_path %>


<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
