<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @parametro %>

<div class="btn-group">
    <%= link_to "Editar parametro", edit_parametro_path(@parametro), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", parametros_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @parametro, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>