<%= form_with(model: laboratory_worker) do |form| %>
  <% if laboratory_worker.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(laboratory_worker.errors.count, "error") %> prohibited this laboratory_worker from being saved:</h2>

      <ul>
        <% laboratory_worker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :"Numero de junta de vigilancia", style: "display: block" %>
    <%= form.text_field :num_junta_vigilancia, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Laboratorio", style: "display: block" %>
    <%= form.collection_select :laboratorio_id, Laboratorio.all,:id, :nombre_laboratorio,{}, {:id => 'simple-example'} %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :empleado_id, style: "display: block" %>
    <%= form.collection_select :empleado_id, @laboratoristas,:id, :nombre_empleado,{}, {:id => 'simple-example2'} %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", laboratory_workers_path, :class => "btn btn-outline-danger"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2();
            $('#simple-example2').select2();
        });
    </script>
  <% end %>

<% end %>