<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @laboratory_worker %>

<div class="btn-group">
    <%= link_to "Editar laboratorista", edit_laboratory_worker_path(@laboratory_worker), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", laboratory_workers_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @laboratory_worker, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>