<%= form_with(model: acceso) do |form| %>
  <% if acceso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(acceso.errors.count, "error") %> prohibited this acceso from being saved:</h2>

      <ul>
        <% acceso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :rol_id, style: "display: block" %>
    <%= form.collection_select :rol_id, Rol.all,:id, :nombre_rol,{prompt: "Seleccione un rol"}, {:id => 'simple-example'} %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :permiso_id, style: "display: block" %>
    <%= form.collection_select :permiso_id, Permiso.all,:id, :nombre_permiso,{prompt: "Seleccione un permiso"}, {:id => 'simple-example2'} %>
  </div>
  
  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", accesos_path, :class => "btn btn-outline-danger"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2({ width: '25%' });
            $('#simple-example2').select2();
        });
    </script>
  <% end %>

<% end %>