<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @acceso %>

<div class="btn-group">
    <%= link_to "Editar acceso", edit_acceso_path(@acceso), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", accesos_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @acceso, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
