<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Menú permisos</h1>
 
  <% if @permisos_crud%>
    <%= link_to "Agregar menú permiso", new_menu_permiso_path, :class => "btn btn-outline-success" %>
  <% end %>
  
  <div id="menu_permisos">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Menu:</th>
          <th scope="col">Permiso:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @menu_permisos.each do |menu_permiso| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= menu_permiso.menu.nombre %></td>
            <td><%= menu_permiso.permiso.nombre_permiso %></td>
            <th><%= link_to "Ver", menu_permiso, :class => "btn btn-outline-primary" %></th>
          </tr>
          <div hidden="true"><%= @number = @number + 1 %></div>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>