<%= form_with(model: type_exam_parametro) do |form| %>
  <% if type_exam_parametro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(type_exam_parametro.errors.count, "error") %> prohibited this type_exam_parametro from being saved:</h2>

      <ul>
        <% type_exam_parametro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :parametro_id, style: "display: block" %>
    <%= form.collection_select :parametro_id, Parametro.all,:id, :nombre_parametro,{prompt: "Seleccione un parametro"}, {:id => 'simple-example'} %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :"Tipo Examen", style: "display: block" %>
    <%= form.collection_select :type_exam_id, TypeExam.all,:id, :name_type_examn, {prompt: "Seleccione un tipo de examen"}, {:id => 'simple-example2'} %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", type_exam_parametros_path, :class => "btn btn-outline-danger"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2();
            $('#simple-example2').select2({ width: '35%' });
        });
    </script>
  <% end %>

<% end %>

