<p style="color: green"><%= notice %></p>

<%= render @type_exam_parametro %>

<div>
  <%= link_to "Edit this type exam parametro", edit_type_exam_parametro_path(@type_exam_parametro) %> |
  <%= link_to "Back to type exam parametros", type_exam_parametros_path %>

  <%= button_to "Destroy this type exam parametro", @type_exam_parametro, method: :delete %>
</div>
