<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @type_exam_parametro %>

<div class="btn-group">
    <%= link_to "Editar", edit_type_exam_parametro_path(@type_exam_parametro), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", type_exam_parametros_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @type_exam_parametro, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>
