<p style="color: green"><%= notice %></p>

<%= render @laboratoristum %>

<div>
  <%= link_to "Edit this laboratorista", edit_laboratoristum_path(@laboratoristum) %> |
  <%= link_to "Back to laboratorista", laboratorista_index_path %>

  <%= button_to "Destroy this laboratorista", @laboratoristum, method: :delete %>
</div>
