<p style="color: green"><%= notice %></p>

<%= render @valor_referencium %>

<div>
  <%= link_to "Edit this valor referencia", edit_valor_referencium_path(@valor_referencium) %> |
  <%= link_to "Back to valor referencia", valor_referencia_index_path %>

  <%= button_to "Destroy this valor referencia", @valor_referencium, method: :delete %>
</div>
