<% content_for :content do %>


<% @menu_rol.each do |key, value|%>
    <h2><%= key %></h2>
    <% value.each do |submenu|%>
        <% nombre = submenu["nombre"] %>
        <% submenu.each do |keys, values|%>
            <h2> </h2>
            <a href=<%= values %>>
                <% if keys == "nombre" %>
                
                <% else %>
                    <%= nombre %>  
                <% end %>
            </a>
        <% end %>    
    <% end %>
<% end %>
<%# menu.each do |key, value|
	puts "Menu: " + key

	value.each do |submenu|
		submenu.each do |keys, values|
			puts "	" + keys + ": " + values
		end
	end
end %>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>