<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Roles</h1>
  <%= link_to "Nuevo Rol", new_rol_path, :class => "btn btn-outline-success" %>
  <div id="rols">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Rol:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @rols.each do |rol| %>
          <tr>
            <td scope="row">1</td>
            <td><%= rol.nombre_rol %></td>
            <td><%= link_to "Ver", rol, :class => "btn btn-outline-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
<%= render template: "layouts/base" %>