<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <%= render @rol %>

  <div class="btn-group">
    <%= link_to "Editar", edit_rol_path(@rol), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", rols_path, :class => "btn btn-outline-dark" %>&nbsp;

    <%= button_to "Eliminar", @rol, method: :delete, :class => "btn btn-outline-danger" %>&nbsp;
  </div>

<% end %>
<%= render template: "layouts/base" %>
