<div id="<%= dom_id empleado %>">
  <p>
    <strong>Nombre empleado:</strong>
    <%= empleado.nombre_empleado %>
  </p>

  <p>
    <strong>Apellido empleado:</strong>
    <%= empleado.apellido_empleado %>
  </p>

  <p>
    <strong>Profesion:</strong>
    <%= empleado.profesion %>
  </p>

  <p>
    <strong>Dui empleado:</strong>
    <%= empleado.dui_empleado %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= empleado.municipio_id %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= empleado.user_id %>
  </p>

</div>
