<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Empleados</h1>

  <%= link_to "Agregar empleado", new_empleado_path, :class => "btn btn-outline-success" %>

  <div id="empleados">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre empleado</th>
          <th scope="col">Apellido empleado</th>
          <th scope="col">Profesion</th>
          <th scope="col">Dui empleado</th>
          <th scope="col">Municipio</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @empleados.each do |empleado| %>
          <tr>
            <th scope="row">1</th>
            <td><%= empleado.nombre_empleado %></td>
            <td><%= empleado.apellido_empleado %></td>
            <td><%= empleado.profesion %></td>
            <td><%= empleado.dui_empleado %></td>
            <td><%= empleado.municipio.nombre_municipio %></td>
            <th><%= link_to "Ver", empleado, :class => "btn btn-outline-primary" %></th>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
<%= render template: "layouts/base" %>