<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Empleados</h1>

  <% if @permisos_crud%>
  <%= link_to "Agregar empleado", new_empleado_path, :class => "btn btn-outline-success" %>
  <% end %>

  <div id="empleados">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre empleado</th>
          <th scope="col">Apellido empleado</th>
          <th scope="col">Profesion</th>
          <th scope="col">Dui empleado</th>
          <th scope="col">Municipio</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @empleados.each do |empleado| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= empleado.nombre_empleado %></td>
            <td><%= empleado.apellido_empleado %></td>
            <td><%= empleado.profesion %></td>
            <td><%= empleado.dui_empleado %></td>
            <td><%= empleado.municipio.nombre_municipio %></td>
            <th><%= link_to "Ver", empleado, :class => "btn btn-outline-primary" %></th>
            <div hidden="true"><%= @number = @number + 1 %></div>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>