<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @type_exam %>

<div class="btn-group">
    <%= link_to "Editar tipo de examen", edit_type_exam_path(@type_exam), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", type_exams_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @type_exam, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>

