<p style="color: green"><%= notice %></p>

<%= render @pais %>

<div>
  <%= link_to "Edit this pais", edit_pais_path(@pais) %> |
  <%= link_to "Back to pais", pais_index_path %>

  <%= button_to "Destroy this pais", @pais, method: :delete %>
</div>
