<%= form_with(model: rol_empleado) do |form| %>
  <% if rol_empleado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rol_empleado.errors.count, "error") %> prohibited this rol_empleado from being saved:</h2>

      <ul>
        <% rol_empleado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rol_id, style: "display: block" %>
    <%= form.text_field :rol_id %>
  </div>

  <div>
    <%= form.label :empleado_id, style: "display: block" %>
    <%= form.text_field :empleado_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
