<%= form_with(model: rol_empleado) do |form| %>
  <% if rol_empleado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rol_empleado.errors.count, "error") %> prohibited this rol_empleado from being saved:</h2>

      <ul>
        <% rol_empleado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :rol_id, style: "display: block" %>
    <%= form.collection_select :rol_id, Rol.all,:id, :nombre_rol,{prompt: "Seleccione un rol"}, {:id => 'simple-example'} %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :empleado_id, style: "display: block" %>
    <%= form.collection_select :empleado_id, Empleado.all,:id, :nombre_empleado,{prompt: "Seleccione un empleado"}, {:id => 'simple-example2'} %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success" %>
    <%= link_to "Cancelar", rol_empleados_path, :class => "btn btn-outline-danger" %>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2();
            $('#simple-example2').select2({ width: '30%' });
        });
    </script>
  <% end %>

<% end %>
