<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Rol empleados</h1>
  <% if @permisos_crud%>
  <%= link_to "Agregar rol empleado", new_rol_empleado_path, :class => "btn btn-outline-success" %>
  <% end %>

  <div id="rol_empleados">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Rol</th>
          <th scope="col">Empleado</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @rol_empleados.each do |rol_empleado| %>
          <tr>
            <th scope="row">1</th>
            <td><%= rol_empleado.rol.nombre_rol %></td>
            <td><%= rol_empleado.empleado.nombre_empleado %></td>
            <th><%= link_to "Ver", rol_empleado, :class => "btn btn-outline-primary" %></th>
        <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
<%= render template: "layouts/base" %>
