<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <%= render @rol_empleado %>

  <div class="btn-group">
    <%= link_to "Editar", edit_rol_empleado_path(@rol_empleado), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", rol_empleados_path, :class => "btn btn-outline-dark" %> &nbsp;

    <%= button_to "Eliminar", @rol_empleado, method: :delete, :class => "btn btn-outline-danger" %>
  </div>
<% end %>
<%= render template: "layouts/base" %>