<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Áreas</h1>

  <% if @permisos_crud%>
  <%= link_to "Agregar área", new_area_path, :class => "btn btn-outline-success" %>
  <% end %>

  <div id="areas">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Área:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @areas.each do |area| %>
          <tr>
            <th scope="row">1</th>
            <td><%= area.nombre_area %></td>
            <td><%= link_to "Ver", area, :class => "btn btn-outline-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>


<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>