<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @area %>

  <div class="btn-group">
  <% @permisos_crud.each do |submenu|%>
    <% if submenu == 2 %>
    <%= button_to "Eliminar", @area, method: :delete, :class => "btn btn-outline-danger" %>
    <% elsif submenu == 1 %>
    <%= link_to "Editar área", edit_area_path(@area), :class => "btn btn-outline-warning" %> &nbsp;
    <% end %>
    <% end %>
    <%= link_to "Regresar", areas_path, :class => "btn btn-outline-dark" %> &nbsp;
  </div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
