<%= form_with(model: menu_rol) do |form| %>
  <% if menu_rol.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(menu_rol.errors.count, "error") %> prohibited this menu_rol from being saved:</h2>

      <ul>
        <% menu_rol.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :"Menú", style: "display: block" %>
    <%= form.collection_select :menu_id, Menu.all,:id, :nombre %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :rol_id, style: "display: block" %>
    <%= form.collection_select :rol_id, Rol.all,:id, :nombre_rol %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", menu_rols_path, :class => "btn btn-outline-danger" %>
  </div>
<% end %>
