<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Menú roles</h1>
  <% if @permisos_crud%>
  <%= link_to "Agregar menú rol", new_menu_rol_path, :class => "btn btn-outline-success" %>
  <% end %>

  <div id="menu_rols">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Menú</th>
          <th scope="col">Rol</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @menu_rols.each do |menu_rol| %>
          <tr>
            <td scope="row">1</td>
            <td><%= menu_rol.menu.nombre %></td>
            <td><%= menu_rol.rol.nombre_rol %></td>
            <td><%= link_to "Ver", menu_rol, :class => "btn btn-outline-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>



<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>