<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Laboratorios</h1>

  <% if @permisos_crud%>
  <%= link_to "Agregar Laboratorio", new_laboratorio_path, :class => "btn btn-outline-success" %>
  <% end %>

  <div id="laboratorios">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Laboratorio:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @laboratorios.each do |laboratorio| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= laboratorio.nombre_laboratorio %></td>
            <td><%= link_to "Ver", laboratorio, :class => "btn btn-outline-primary" %></td>
          </tr>
          <div hidden="true"><%= @number = @number + 1 %></div>
          <%#= render country %>
          <!--              <p><%#= link_to "Ver", laboratorio, :class=>"btn btn-outline-primary" %></p>-->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to "Agregar Pais", new_country_path %>


<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
