<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Laboratorios</h1>

  <%= link_to "Agregar Laboratorio", new_laboratorio_path, :class => "btn btn-outline-success" %>

  <div id="laboratorios">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Laboratorio:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>

        <% @laboratorios.each do |laboratorio| %>
          <tr>
            <th scope="row">1</th>
            <td><%= laboratorio.nombre_laboratorio %></td>
            <td><%= link_to "Ver", laboratorio, :class => "btn btn-outline-primary" %></td>
          </tr>
          <%#= render country %>
          <!--              <p><%#= link_to "Ver", laboratorio, :class=>"btn btn-outline-primary" %></p>-->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to "Agregar Pais", new_country_path %>


<% end %>
<%= render template: "layouts/base" %>
