<%= form_with(model: resultado) do |form| %>
  <% if resultado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resultado.errors.count, "error") %> prohibited this resultado from being saved:</h2>

      <ul>
        <% resultado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :"Descripción", style: "display: block" %>
    <%= form.text_field :descripcion, class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :parametro_id, style: "display: block" %>
    <%= form.text_field :parametro_id, class:"form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :orden_id, style: "display: block" %>
    <%= form.text_field :orden_id, class:"form-control"  %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success"%>
    <%= link_to "Cancelar", resultados_path, :class => "btn btn-outline-danger"%>
  </div>
<% end %>

