<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @resultado %>

<div class="btn-group">
    <%= link_to "Editar resultado", edit_resultado_path(@resultado), :class => "btn btn-outline-warning" %> &nbsp;
    <%= link_to "Regresar", resultados_path, :class => "btn btn-outline-dark" %> &nbsp;
    <%= button_to "Eliminar", @resultado, method: :delete, :class => "btn btn-outline-danger" %>
  </div>

<% end %>
<%= render template: "layouts/base" %>