<%= form_with(model: orden_type_exam) do |form| %>
  <% if orden_type_exam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(orden_type_exam.errors.count, "error") %> prohibited this orden_type_exam from being saved:</h2>

      <ul>
        <% orden_type_exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :"Tipo de examen", style: "display: block" %>
    <%= form.collection_select :type_exam_id, TypeExam.all,:id, :name_type_examn,{prompt: "Seleccione un tipo de examen"}, {:id => 'simple-example'} %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :orden_id, style: "display: block" %>
    <%= form.collection_select :orden_id, Orden.last(1),:id, :id,{}, {:id => 'simple-example2'} %>
    <%# <%= form.text_field :orden_id %>
  </div>

  <br>
  <div>
    <%= form.submit "Guardar", class:"btn btn-outline-success", name: "add_examen" %>
    <%# <%= form.submit "Finalizar", :class => "btn btn-outline-success", name: "finish_examen" %>
    <%= link_to "Finalizar", home_path, :class => "btn btn-outline-success"%>
    <%= link_to "Cancelar", orden_type_exams_path, :class => "btn btn-outline-danger"%>
    <%# <%= form.submit "Cancelar", :class => "btn btn-outline-danger" , name: "delete_examen"%>
  </div>

  <% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('#simple-example').select2({ width: '65%' });
            $('#simple-example2').select2({ width: '15%' });
        });
    </script>
  <% end %>

<% end %>