<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

  <h1>Ordenes tipo examen</h1>

  <%= link_to "Agregar orden tipo examen", new_orden_type_exam_path, :class => "btn btn-outline-success" %>

  <!-- We will put our React component inside this div. -->
  <div id="like_button_container"></div>


  <div id="ordentipoexamen">
    <div class="card-body">
      <table id="datatablesSimple" class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Orden:</th>
          <th scope="col">Tipo examen:</th>
          <th scope="col">Estado:</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div hidden="true"><%= @number = 1 %></div>
        <% @orden_type_exams.each do |orden_type_exam| %>
          <tr>
            <th scope="row"><%= @number %></th>
            <td><%= orden_type_exam.orden_id %></td>
            <td><%= orden_type_exam.type_exam.name_type_examn %></td>
            <%if orden_type_exam.estado == 1 %>
              <td>Pendiente</td>
            <%else%>
              <td>Finalizado</td>
            <%end%>
            <td><%= link_to "Ver", orden_type_exam, :class => "btn btn-outline-primary" %></td>
            <div hidden="true"><%= @number = @number + 1 %></div>
          </tr>
          <%#= render country %>
          <!--              <p><%#= link_to "Ver", orden_type_exam, :class=>"btn btn-outline-primary" %></p>-->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to "Agregar Pais", new_country_path %>



  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<!--  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>-->
<!--  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>-->

  <!-- Load our React component. -->
  <script src="like_button.js"></script>

<% end %>
<%= render template: "layouts/base" %>

