<p style="color: green"><%= notice %></p>

<%= render @orden_type_exam %>

<div>
  <%= link_to "Edit this orden type exam", edit_orden_type_exam_path(@orden_type_exam) %> |
  <%= link_to "Back to orden type exams", orden_type_exams_path %>

  <%= button_to "Destroy this orden type exam", @orden_type_exam, method: :delete %>
</div>
