<% content_for :content do %>
  <p style="color: green"><%= notice %></p>

<%= render @orden_type_exam %>

 <div class="btn-group">
  <% @permisos_crud.each do |submenu|%>
    <% if submenu == 2 %>
      <%= link_to "Editar", edit_orden_type_exam_path(@orden_type_exam), :class => "btn btn-outline-warning" %> &nbsp;
    <% elsif submenu == 1 %>
      <%= button_to "Eliminar", @orden_type_exam, method: :delete,:class => "btn btn-outline-danger",
      name: "eliminar_orden_type_exam_show" %>
      <% end %>
  <% end %>
    <%= link_to "Regresar", orden_type_exams_path, :class => "btn btn-outline-dark" %>&nbsp;
  </div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>