<p style="color: green"><%= notice %></p>

<%= render @caracol %>

<div>
  <%= link_to "Edit this caracol", edit_caracol_path(@caracol) %> |
  <%= link_to "Back to caracols", caracols_path %>

  <%= button_to "Destroy this caracol", @caracol, method: :delete %>
</div>
